*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(2, 2, 39);
    height: auto;
}
section{
    min-height: auto;
    background-color:  rgb(1, 1, 20);
}
.main1{
    color:lightblue;
}
.text{
    color:lightblue;
}
.text2{
    color: white;
}
.rounded{
    background-color: rgba(61, 61, 235, 0.438);
}
#part2{
    background-color:rgb(1, 1, 34) ;
}
label{
    color: white;
    font-size: smaller;
    font-family: monospace;
}
input{
    background-color: rgba(1, 1, 20, 0.589) ;
    border: 1px solid lightblue;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
}
textarea{
    background-color:rgba(1, 1, 20, 0.589) ;
    border: 1px solid lightblue;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
}
.b{
    width: 30%;
    background: linear-gradient(120deg,blue,lightblue);
    color: white;
    border: none;
}
.b:hover{
    background: linear-gradient(120deg,lightblue,blue);
    color: black;
    transition: all 0.5s;
    transform: scale(1.1);
}
span{
    color: lightblue;
}
#part1{
    background-color:rgb(3, 3, 78) ;
}
.a{
    color: white;
}
.a:hover{
    color: rgb(47, 117, 141);
    border-bottom: 2px solid lightblue;
}
